:root  {
  --principal-color: #EA1D2C;
  --primary-color: #f4f5f6;
  --secundary-color: #272727;
  --green-color: #28a745;
  --animed-transition: ease-in-out 200ms;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  padding: 0 5rem; 
  color: var(--secundary-color);
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10rem;
}

.search-input {
  outline: none;
  border-radius: 4px;
  padding: 0.5rem 0.3rem;
  border: 2px solid var(--secundary-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--animed-transition);
  width: 50px;
}

.search-input:focus {
  border: 3px solid var(--principal-color);
  background-color: rgb(211, 211, 211, 0.6);
  width: 200px;
}

.search-input:hover {
  background-color: #d3d3d3;
  width: 200px;
}

.div-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
}

.div-search .icon-div {
  background-color: var(--principal-color);
  transition: var(--animed-transition);
  padding: 0.6rem;
  font-weight: bold;
  border-radius: 4px;
  color: var(--primary-color);
  border: 1px solid var(--secundary-color);
  cursor: pointer;
}

#promotional-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 1rem;
}

#promotional-banner #banner-image {
  border-radius: 6px;
  width: 600px;
  height: 250px;
  cursor: pointer;
  transition: var(--animed-transition);
}

#promotional-banner #banner-image:hover {
  transform: rotate(1deg) scale(1.1);
}

.arrows {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 4px solid var(--secundary-color);
  border-radius: 50%;
  cursor: pointer;
  padding: 1.5rem;
}

#left-image {
  margin-left: 6rem;
}

#right-image {
  margin-right: 6rem;
}

.ul-nav-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 0 10rem;
}

.ul-nav-principal li a {
  font-weight: 700;
  padding: 1rem 0.5rem;
  position: relative;
}

.ul-nav-principal li a i {
  margin-left: 0.5rem;
}

.ul-nav-principal li a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 5px; 
  background-color: var(--principal-color); 
  transition: width 0.4s ease; 
}

.ul-nav-principal li a:hover::after {
  width: 100%; 
}

.restaunrant-content-slider {
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  scroll-snap-type: x mandatory; 
  overflow-x: auto;
  width: 100%;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.restaurant-content-slider::-webkit-scrollbar {
display: none; 
}

.card {
  width: 200px;
  height: 270px;
  overflow: hidden;
  box-shadow: inset 0 0 3px 1px var(--secundary-color);
  padding: 2rem 1rem;
  border-radius: 4px;
  text-align: center;
  scroll-snap-align: start;
  flex: 0 0 auto; 
  cursor: pointer;
  transition: var(--animed-transition);
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.card h2, .menu-title {
  text-align: center;
  margin: 0.5rem;
  width: 100%;          
  white-space: nowrap;     
  overflow: hidden;       
  text-overflow: ellipsis;
}

.funcionament-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem
}

.category-slider {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 1rem;
}

.category-slider::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.category {
  text-align: center;
  flex: 0 0 auto;
  width: 150px;
  cursor: pointer;
  transition: var(--animed-transition);
}

.category:hover {
  transform: scale(1.1);
}

.category img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.category-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.cards-all-restaurants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.display {
  display: none;
}

.open {
  color: var(--green-color);
  font-weight: 700;
}

.close {
  color: var(--principal-color);
  font-weight: 700;
}

.houer-restaurant {
  font-weight: 500;
  color: #4b4b4b;
}

.category-text {
  font-weight: 600;
  text-transform: capitalize;
}

.h2-title {
  margin: 2rem 0;
}

.card-menu {
  width: 200px;
  height: 270px;
  overflow: hidden;
  box-shadow: inset 0 0 3px 1px var(--secundary-color);
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
