:root  {
  --principal-color: #EA1D2C;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f4f5f6;
  overflow: hidden;
  position: relative;
}

.image-loop {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image-loop img{
  height: 100vh;
  width: 100vw;
  object-position: center;
  object-fit: cover;
}

.img-src {
  transition: opacity 500ms ease-in-out;
  opacity: 1;
}

.img-src.fade-out {
  opacity: 0;
}

.image-loop::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.5));
}

main {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: #f4f5f6;
  columns: #000;
  padding: 2rem 1.5rem;
  border-radius: 4px
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.header-logo .logo h1{
  width: 100px;
  text-align: start;
  color: var(--principal-color);
  line-height: 27px;
}

.header-logo span {
  font-size: 2rem;
  color: #333;
}

.header-logo h2 {
  font-size: 2rem;
}

label {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.bottom-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.input-group input {
  border-radius: 4px;
  border: 1px solid #000;
  outline: none;
  padding: 0.3rem 0.4rem;
  font-size: 1.2rem;
  transition: ease-in-out 200ms;
}

.input-group input:hover {
  background-color: #d3d3d3;
}

.input-group input:focus {
  background-color: rgb(211, 211, 211, 0.6);
}

.password-input {
  position: absolute;
}

.icon-eye {
  position: relative;
  right: -210px;
  top: 3px;
  cursor: pointer;
}

.icon-actived {
  color: var(--principal-color);
  transition: 150ms ease-in-out;
}

.button-div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div button {
  font-weight: 600;
  padding: 0.3rem 3rem;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
  border: 2px solid hsl(356, 83%, 42%);
  background-color: var(--principal-color);
  color: #f4f5f6;
  transition: ease-in-out 200ms;
}

.button-div button:hover {
  border: 2px solid var(--principal-color);
  background-color:hsl(356, 83%, 42%);
}

.have-account p{
  font-size: 0.9rem;
}

.have-account p span {
  color: rgb(19, 19, 174);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.have-account p span:hover {
  color:  rgb(55, 132, 227);
}

.error-text {
  color: var(--principal-color);
}

.error-input {
  border: 2px solid var(--principal-color);
}

.error-div {
  width: 200px;
}

#success-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  z-index: 1000;
  border: inset 2px #000;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circular-loader {
  width: 80px;
  height: 80px;
  border: 5px solid rgba(0, 0, 0, 0.1); /* Borda externa */
  border-top: 5px solid green; /* Cor da borda animada */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-icon {
  font-size: 36px;
  color: green;
}

.display {
  display: none;
}
